@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #495F34;
}

#page
{
	z-index: 1;
	width: 276px;
	min-height: 297px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #495F34;
	padding: 71px 52px 202px;
}

#u87
{
	z-index: 2;
	width: 109px;
	margin-left: 84px;
}

#u92
{
	z-index: 4;
	width: 276px;
	margin-top: 4px;
}

#pbuttonu103
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 50px;
	position: relative;
}

#buttonu103
{
	z-index: 6;
	width: 67px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#buttonu103:hover
{
	margin: 0px -10000px 0px 0px;
}

#u105-4
{
	z-index: 7;
	width: 47px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu103:hover #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#buttonu108
{
	z-index: 11;
	width: 67px;
	padding-bottom: 6px;
	margin-right: -10000px;
	left: 86px;
}

#buttonu103.ButtonSelected,#buttonu108:hover
{
	margin: 0px -10000px 0px 0px;
}

#u109-4
{
	z-index: 12;
	width: 47px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu103.ButtonSelected #u105-4,#buttonu108:hover #u109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#buttonu111
{
	z-index: 16;
	width: 67px;
	padding-bottom: 6px;
	margin-right: -10000px;
	left: 173px;
}

#buttonu108.ButtonSelected,#buttonu111:hover
{
	margin: 0px -10000px 0px 0px;
}

#buttonu111.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
}

#u112-4
{
	z-index: 17;
	width: 47px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#buttonu108.ButtonSelected #u109-4,#buttonu111:hover #u112-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#buttonu111.ButtonSelected #u112-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#page .verticalspacer
{
	clear: both;
}

